html(lang=currentLocale)
  head
    block head
      title As a Man Thinketh

    block meta
      meta(charset="utf-8")
      meta(name="description" content="Prototype")
      meta(name="HandheldFriendly" content="True")
      meta(name="MobileOptimized" content="320")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name='description', content="As a Man Thinketh by James Allen. Website by MDS")

    block stylesandscripts
      link(rel="stylesheet" type="text/css" href="/thinketh/css/style.css")

  body
    .language-switcher
      a(href="/thinketh/en/" class=currentLocale === 'en' ? 'active' : '') English
      a(href="/thinketh/hi/" class=currentLocale === 'hi' ? 'active' : '') हिंदी

    block content

