section#thought-and-character
	h2 Thought and Character
	p
		| The aphorism, &quot;As a man thinketh in his heart so is he,&quot; not only
		| embraces the whole of a man&apos;s being, but is so comprehensive as to
		| reach out to every condition and circumstance of his life. A man is
		| literally 
		em what he thinks,
		|  his character being the complete sum of
		|     all his thoughts.
	p
		| As the plant springs from, and could not be without, the seed, so
		| every act of a man springs from the hidden seeds of thought, and
		| could not have appeared without them. This applies equally to those
		| acts called &quot;spontaneous&quot; and &quot;unpremeditated&quot; as to those, which
		| are deliberately executed.
	p
		| Act is the blossom of thought, and joy and suffering are its fruits;
		| thus does a man garner in the sweet and bitter fruitage of his own
		| husbandry.
	blockquote
		p
			| &quot;Thought in the mind hath made us, What we are
			| By thought was wrought and built. If a man&apos;s mind
			| Hath evil thoughts, pain comes on him as comes
			| The wheel the ox behind....
		p
			| ..If one endure
			| In purity of thought, joy follows him
			| As his own shadow&mdash;sure.&quot;
	p
		| Man is a growth by law, and not a creation by artifice, and cause
		| and effect is as absolute and undeviating in the hidden realm of
		| thought as in the world of visible and material things. A noble and
		| Godlike character is not a thing of favour or chance, but is the
		| natural result of continued effort in right thinking, the effect of
		| long-cherished association with Godlike thoughts. An ignoble and
		| bestial character, by the same process, is the result of the
		| continued harbouring of grovelling thoughts.
	p
		| Man is made or unmade by himself; in the armoury of thought he
		| forges the weapons by which he destroys himself; he also fashions
		| the tools with which he builds for himself heavenly mansions of joy
		| and strength and peace. By the right choice and true application of
		| thought, man ascends to the Divine Perfection; by the abuse and
		| wrong application of thought, he descends below the level of the
		| beast. Between these two extremes are all the grades of character,
		| and man is their maker and master.
	p
		| Of all the beautiful truths pertaining to the soul which have been
		| restored and brought to light in this age, none is more gladdening
		| or fruitful of divine promise and confidence than this&mdash;that man is
		| the master of thought, the moulder of character, and the maker and
		| shaper of condition, environment, and destiny.
	p
		| As a being of Power, Intelligence, and Love, and the lord of his own
		| thoughts, man holds the key to every situation, and contains within
		| himself that transforming and regenerative agency by which he may
		| make himself what he wills.
	p
		| Man is always the master, even in his weaker and most abandoned
		| state; but in his weakness and degradation he is the foolish master
		| who misgoverns his &quot;household.&quot; When he begins to reflect upon his
		| condition, and to search diligently for the Law upon which his being
		| is established, he then becomes the wise master, directing his
		| energies with intelligence, and fashioning his thoughts to fruitful
		| issues. Such is the 
		em conscious
		|  master, and man can only thus become
		|     by discovering 
		em within himself
		|  the laws of thought; which discovery
		|     is totally a matter of application, self analysis, and experience.
	p
		| Only by much searching and mining, are gold and diamonds obtained,
		| and man can find every truth connected with his being, if he will
		| dig deep into the mine of his soul; and that he is the maker of his
		| character, the moulder of his life, and the builder of his destiny,
		| he may unerringly prove, if he will watch, control, and alter his
		| thoughts, tracing their effects upon himself, upon others, and upon
		| his life and circumstances, linking cause and effect by patient
		| practice and investigation, and utilizing his every experience, even
		| to the most trivial, everyday occurrence, as a means of obtaining
		| that knowledge of himself which is Understanding, Wisdom, Power. In
		| this direction, as in no other, is the law absolute that &quot;He that
		| seeketh findeth; and to him that knocketh it shall be opened;&quot; for
		| only by patience, practice, and ceaseless importunity can a man
		| enter the Door of the Temple of Knowledge.
