section#foreword
	h2
		| प्रस्तावना
	p
		| यह छोटा-सा ग्रन्थ (ध्यान और अनुभव का परिणाम) विचार-शक्ति जैसे
		| बहुल-लिखित विषय पर कोई विस्तृत ग्रन्थ नहीं है। यह व्याख्यात्मक से
		| अधिक संकेतात्मक है; इसका उद्देश्य स्त्री-पुरुषों को इस सत्य की खोज
		| और अनुभूति के लिये प्रेरित करना है कि
	blockquote
		| "वे स्वयं अपने-आप को बनाते हैं।"
	p
		| क्योंकि वे जिन विचारों को वे चुनते और प्रोत्साहित करते हैं, उन्हीं के
		| द्वारा; कि मन ही वह महान जुलाहा है—अंतरंग के चरित्र-वस्त्र का भी
		| और बहिरंग की परिस्थिति-वस्त्र का भी; और जैसे अब तक उन्होंने
		| अज्ञान और पीड़ा में बुनाई की है, वैसे ही अब वे प्रबुद्धता और आनंद में
		| बुन सकें।
