# Dependencies
node_modules/

# Build artifacts
build/
dist/

# Environment files
.env
.env.*

# System files
.DS_Store
*.log
.vercel
readme.md

# Do NOT ignore docs folder as it contains our static site for GitHub Pages
!docs/