section#foreword
	h2
		| प्रस्तावना
	p
		| यह छोटी-सी पुस्तिका (जो चिन्तन और अनुभव का फल है) विचार की शक्ति
		| जैसे बहुचर्चित विषय पर कोई विस्तृत ग्रन्थ नहीं है। यह व्याख्यात्मक
		| नहीं, बल्कि सुझावपूर्ण है। इसका उद्देश्य केवल इतना है कि स्त्रियों
		| और पुरुषों को इस सत्य की खोज और अनुभूति के लिए प्रेरित किया जाए कि —
	blockquote
		| "वे स्वयं ही अपने निर्माता हैं।"
	p
		| उन विचारों के बल पर जिन्हें वे चुनते हैं और जिन्हें बढ़ावा देते हैं;
		| कि मन ही कुशल बुनकर है — चरित्र रूपी भीतरी वस्त्र का भी और परिस्थिति
		| रूपी बाहरी वस्त्र का भी; और कि जैसा उन्होंने अब तक अज्ञान और कष्ट में
		| बुना है, वैसे ही अब वे ज्ञान और आनन्द में बुन सकते हैं।
