#content
  x-space(size="xl")
  include title.pug
  x-divider
  include 0-foreword.pug
  x-divider
  include section-1.pug
  x-divider
  include section-2.pug
  x-divider
  include section-3.pug
  x-divider
  include section-4.pug
  x-divider
  include section-5.pug
  x-divider
  include section-6.pug
  x-divider
  include section-7.pug
  x-divider
  include footer.pug
