section#serenity
	h2
		| समाधि (शान्ति)
	p
		| मन की शान्ति—बुद्धि के सुन्दर रत्नों में एक है। यह दीर्घ और धैर्यपूर्ण
		| आत्म-संयम का परिणाम है। इसकी उपस्थिति परिपक्व अनुभव और विचार-नियमों के
		| ज्ञान की सूचक है।
	p
		| मनुष्य उतना ही शान्त होता है जितना वह स्वयं को विचार-जन्य प्राणी के रूप में समझता है;
		| क्योंकि ऐसा ज्ञान दूसरों को भी विचार-परिणाम के रूप में समझना आवश्यक बनाता है; और
		| जैसे-जैसे वह कारण-कार्य से वस्तुओं के भीतरी सम्बन्धों को स्पष्ट देखने लगता है—
		| वह हड़बड़ी, खिन्नता, शोक और चिन्ता छोड़ देता है—और स्थितप्रज्ञ, स्थिर, शान्त हो जाता है।
	p
		| जिसने स्वयं को शासित करना सीख लिया, वह दूसरों के अनुरूप होना जान लेता है; और वे उसके
		| आध्यात्मिक बल का आदर करते हैं—समझते हैं कि उससे सीख सकते हैं—और उस पर भरोसा कर सकते हैं।
		| जितना अधिक कोई मनुष्य शान्त होता है—उतनी ही उसकी सफलता, प्रभाव और उपकार-शक्ति बढ़ती है।
		| सामान्य व्यापार में भी वह अधिक समृद्धि पायेगा—क्योंकि लोग सदैव ऐसे मनुष्य से व्यवहार करना
		| पसंद करते हैं जिसका स्वभाव दृढ़ और सम है।
	p
		| दृढ़, शान्त पुरुष सदा प्रेम और आदर का पात्र होता है। वह प्यासे देश में छाया देने वाले वृक्ष
		| या आँधी में शरण देने वाली चट्टान के समान होता है। &quot;कौन नहीं चाहता एक शांत हृदय, मधुर स्वभाव,
		| संतुलित जीवन? वर्षा हो या धूप, जो ये वरदान धारण किये रहते हैं—वे सदा मधुर, शान्त और स्थिर रहते हैं।
		| वह अद्भुत समत्व जिसे हम शान्ति कहते हैं—संस्कार का अन्तिम पाठ है—आत्मा का फल है—ज्ञान के समान
		| अमूल्य, और सोने से भी अधिक वांछनीय। धन की खोज इसके सामने तुच्छ प्रतीत होती है—शान्त जीवन—
		| सत्य के सागर में—लहरों के नीचे—आँधियों से परे—अनन्त शान्ति में!&quot;
	p
		| &quot;कितने लोग हैं जो अपने क्रोध के विस्फोटों से अपना जीवन खट्टा कर लेते हैं—जो अपने
		| चरित्र का संतुलन बिगाड़ देते हैं—और बुरे रक्त का निर्माण करते हैं! प्रश्न यह है कि क्या
		| अधिकांश लोग आत्म-संयम की कमी से अपना जीवन और सुख नष्ट नहीं कर लेते? जीवन में कितने
		| कम लोग मिलते हैं जो भली-भाँति संतुलित हों—जिनमें वह अद्भुत समत्व हो—जो पूर्णचरित्र का
		| चिह्न है!&quot;
	p
		| हाँ, मानवता अनियन्त्रित भावनाओं से उफनती है; असंयत शोक से व्यथित है; चिन्ता और संशय से
		| यहाँ-वहाँ उछलती रहती है; केवल बुद्धिमान—केवल वह—जिसके विचार संयत और शुद्ध हैं—अपनी आत्मा की
		| आँधियों और पवनों को आज्ञाकारी बना लेता है।
	p
		| हे तूफान-झुलसी आत्माओं!—तुम जहाँ भी हो—जैसी भी दशा में जीते हो—यह जान लो: जीवन-सागर में
		| धन्य द्वीप मुस्करा रहे हैं—और तुम्हारे आदर्श का धूपिल तट तुम्हारी प्रतीक्षा कर रहा है।
		| अपने विचारों की पतवार पर मज़बूत पकड़ रखो; तुम्हारी नाव में एक आदेशकारी स्वामी स्थित है—
		| वह केवल सोता है—उसे जगा दो। आत्म-संयम शक्ति है; सही विचार अधिकार है; शान्ति शक्ति है।
		| अपने हृदय से कहो—&quot;शान्त रहो!&quot;
