section#foreword
	h2
		| प्रस्तावना
	p
		| यह छोटी सी कृति (जो ध्यान और अनुभव का परिणाम है) विचार की शक्ति पर 
		| कोई सुविस्तृत आलेख नहीं है जिसके बारे में बहुत कुछ लिखा जा चुका है। 
		| वास्तव में यह सुझावपूर्ण है, व्याख्यात्मक नहीं। इसका उद्देश्य स्त्रियों और 
		| पुरुषों को केवल इस सत्य की खोज और प्रत्यक्ष ज्ञान के लिए प्रेरित करना है कि –
	blockquote
		| "वे स्वयं ही स्वयं के निर्माता हैं।"
	p
		| उन विचारों की बदौलत, जिनका उन्होंने चयन करके उन्हें बढ़ावा दिया; 
		| चरित्र रूपी आंतरिक वस्त्र और परिस्थिति रूपी बाह्य वस्त्र का कुशल बुनकर मन ही है। 
		| और जैसा कि अभी तक क्लेश और अज्ञानता के कारण उसने दुःख-दर्द को ही बुना है, 
		| अब उसी मन के द्वारा आप ज्ञानोदय और सुख-शांति का निर्माण कर सकते हैं।
