//- English version with all sections
#content
  include title.pug
  include 0-foreword.pug
  include section-1.pug
  include section-2.pug
  include section-3.pug
  include section-4.pug
  include section-5.pug
  include section-6.pug
  include section-7.pug
  include footer.pug
