section#foreword
	h2
		| પૂર્વકથન
	p
		| આ નાનકડી કૃતિ (ચિંતન અને અનુભવોનું પરિણામ) વિચારોની શક્તિ વિષયક
		| ઘણીવાર લખાયેલા વિષય પર વિસ્તૃત નિબંધ તરીકે નિર્દિષ્ટ નથી. આ પુસ્તક
		| સમજાવટ કરતા વધુ સૂચનાત્મક છે, અને તેનો ઉદ્દેશ પુરુષો અને સ્ત્રીઓને
		| તે સત્યની શોધ અને સમજણ તરફ પ્રેરિત કરવો છે કે
	blockquote
		| "તેઓ પોતે જ પોતાનાં સર્જક છે."
	p
		| તેઓ જે વિચારો પસંદ કરે છે અને પ્રોત્સાહિત કરે છે, તેના કારણે;
		| માનસ છે મુખ્ય વણનાર—અંતરંગ સ્વભાવના પરિધાન અને બાહ્ય પરિસ્થિતિઓના
		| કપડાં બંનેનું. અને જેમ તેઓ અત્યાર સુધી અજ્ઞાન અને દુઃખમાં વણતીઓ
		| કરતાં આવ્યા છે તેમ હવે તેઓ જ્ઞાન અને આનંદમાં વણી શકે છે.
