section#foreword
	h2
		| પ્રસ્તાવના
	p
		| આ નાનકડું ગ્રંથ (ધ્યાન અને અનુભવનું ફળ) વિચારશક્તિ જેવા ઘણું
		| લખાયેલા વિષય પર કોઈ વિશદ ગ્રંથ નથી. સમજાવટ કરતાં સૂચક વધુ છે; તેનો
		| હેતુ સ્ત્રી-પુરુષોને આ સત્યની શોધ અને અનુભૂતિ માટે પ્રેરિત કરવો છે કે
	blockquote
		| "તેઓ પોતે જ પોતાને બનાવે છે."
	p
		| કારણ કે તેઓ જે વિચારો પસંદ કરે છે અને પોષણ આપે છે, તેમની જ બળે; મન
		| જ મહાન વણકર છે—અંદરના ચરિત્રના વસ્ત્રનો પણ અને બહારની પરિસ્થિતિના
		| વસ્ત્રનો પણ; અને જેમ તેમણે અવિદ્યા અને દુઃખમાં અત્યાર સુધી વણ્યું છે,
		| તેમ હવે તેઓ પ્રબોધ અને સુખમાં વણી શકે.
