section#serenity
	h2 શાંતિ
	p
		| મનની શાંતિ એ જ્ઞાનના સુંદર રત્નોમાંથી એક છે.
		| તે આત્મ-નિયંત્રણમાં લાંબા અને ધીરજભર્યા પ્રયાસનો પરિણામ છે.
		| તેનો હાજરપન એ પરિપૂર્ણ અનુભવ અને વિચારના નિયમો અને પ્રક્રિયાઓની
		| અસાધારણ સમજણનું પ્રતિબિંબ છે.
	p
		| માણસ તેટલો શાંત બને છે જેટલો કે તે પોતાને વિચારથી વિકસેલા જીવરૂપે સમજવા માંડે છે;
		| કારણ કે આ જ્ઞાન બીજાઓને પણ વિચારોના પરિણામરૂપે સમજવાની જરૂરિયાત લાવે છે.
		| કારણ અને પરિણામના ક્રમથી જેવોજે તે વસ્તુઓના આંતરિક સંબંધોને સ્પષ્ટ રીતે જોવો લાગે છે,
		| તેવોજે તે તણાવ, ગુસ્સો, ચિંતાઓ અને શોકથી મુક્ત થઈને સ્થિર, અડગ અને શાંત રહે છે.
	p
		| શાંતમન વ્યક્તિ, જેમણે પોતાનું શાસન શીખી લીધું છે,
		| તે બીજાઓ સાથે કઈ રીતે સંતુલિત રહેવું એ જાણે છે;
		| અને તેઓ તેને આધ્યાત્મિક બળ માટે માન આપે છે અને ભરોસો પણ રાખે છે.
		| જેવોજે માણસ વધુ શાંત બને છે, તેટલી વધુ તેનું સફળતા, પ્રભાવ અને સદ્‌શક્તિ વધે છે.
		| એ પણ સાબિત છે કે સાધારણ વેપારી પોતાની વ્યવસાયિક સમૃદ્ધિમાં વધારો કરશે
		| જો તે વધુ આત્મનિયંત્રણ અને સમતુલન વિકસાવે છે —
		| કારણ કે લોકો હંમેશાં એવા વ્યક્તિ સાથે વ્યવહાર કરવા પસંદ કરે છે
		| જેને દેખાવમાં શાંતિ અને સ્થિરતા હોય.
	p
		| મજબૂત અને શાંતમન વ્યક્તિ હંમેશાં પ્રેમભર્યો અને પૂજનીય હોય છે.
		| તે તરસેલી ધરતી પર છાંયાવાળી વૃક્ષ સમાન છે, કે વાવાઝોડામાં આશ્રય આપતી પહાડ સમાન.
		| "એવા શાંત હ્રદય, મીઠાં સ્વભાવ અને સંતુલિત જીવન કોણ નહીં પસંદ કરે?
		| વરસાદ થાય કે ધુપ પડે, કે જીવનમાં બદલાવ આવે —
		| એ લોકો હંમેશાં મીઠાં, શાંત અને સ્થિર રહે છે.
		| જે લાક્ષણિક વ્યક્તિત્વસ્વરૂપ ગુણ છે, જેને આપણે શાંતિ કહીએ છીએ —
		| તે સંસ્કારની છેલ્લી કડી છે, આત્માનું ફળ છે.
		| તે જ્ઞાન જેટલું કિંમતી છે, અને સોનાથી પણ વધારે ઇચ્છનીય છે —
		| હા, શુદ્ધ સોનાથી પણ વધુ.
		| પૈસા કમાવા માટેના પ્રયત્નો શાંતિભરેલા જીવનની તુલનામાં નિર્જીવ લાગે છે —
		| એવું જીવન જે સત્યના સાગરમાં રહે છે,
		| તરંગો નીચે,
		| તોફાનોના પરિધિ બહાર,
		| શાશ્વત શાંતિમાં.
	p
		| "કેટલાં લોકોને આપણે જાણીએ છીએ કે જેમણે પોતાની જીવનની મીઠાશ અને સુંદરતા
		| વિસ્ફોટક ગુસ્સાથી બગાડી નાખી છે,
		| જેમણે પોતાના શાંત સ્વભાવને ખોવી દીધો છે
		| અને પોતાની અંદર 'ખોટો લોહી' ઊભું કર્યું છે!
		| એવું લાગે છે કે મોટા ભાગના લોકો આત્મ-નિયંત્રણના અભાવથી પોતાનું જીવન નષ્ટ કરે છે.
		| જીવનમાં કેટલાં ઓછા લોકો મળે છે કે જેઓ સંતુલિત હોય,
		| જેઓ એ સુમેળભર્યું સંતુલન ધરાવે છે જે પરિપૂર્ણ વ્યક્તિત્વના ગુણ છે!"
	p
		| હા, માનવતા બિન-નિયંત્રિત વાસનાથી ઘાયલ છે,
		| અનિયંત્રિત શોકથી તોફાની છે,
		| ચિંતાઓ અને શંકાઓના પવનમાં ઉડતી રહે છે —
		| ફક્ત જ્ઞાની માણસ, ફક્ત તે જેણે પોતાના વિચારોને નિયંત્રિત અને શુદ્ધ કર્યા છે,
		| તે જ આત્માની અંદરનાં પવન અને તોફાનને પોતાના આદેશમાં લઈ શકે છે.
	p
		| ઓ તોફાની આત્માઓ, તમે જ્યાં પણ હો, જે પરિસ્થિતિઓમાં જીવતાં હો —
		| આ જાણો કે જીવનના મહાસાગરમાં આશીર્વાદના ટાપુઓ મુસ્કરાવી રહ્યાં છે,
		| અને તમારા આદર્શના સૂર્યમુખ તટ પર તમારી રાહ જોઈ રહી છે.
		| તમારા વિચારોની નાવના હલમ પર હાથ મજબૂતીથી રાખો.
		| તમારી આત્માના હૃદયમાં શાસક પ્રમુખ આરામ કરે છે; તે ફક્ત ઊંઘમાં છે:
		| તેને જાગૃત કરો.
		| આત્મ-નિયંત્રણ એ શક્તિ છે;
		| યોગ્ય વિચાર એ અધિકાર છે;
		| શાંતિ એ શક્તિ છે.
		| તમારા હૃદયને કહો: "શાંતિ... શાંત રહો!"
