//- 01 index.pug
extends includes/layout.pug

block head
	title As a Man Thinketh

//- block meta pulls in here
block content
	include includes/title.pug
	include includes/0-foreword.pug
	include includes/section-1.pug
	include includes/section-2.pug
	include includes/section-3.pug
	include includes/section-4.pug
	include includes/section-5.pug
	include includes/section-6.pug
	include includes/section-7.pug
	include includes/footer.pug
//- block foot gets imported here from layout.pug


