//- 01 index.pug
extends includes/layout.pug

block head
	title As a Man Thinketh

block content
	if currentLocale === 'hi'
		include includes/hi/content.pug
	else
		//- Default to English for both root and /en/
		include includes/en/content.pug
//- block foot gets imported here from layout.pug


