//- 01 index.pug
extends includes/layout.pug

block head
	title As a Man Thinketh

block content
	if currentLocale === 'gu'
		include includes/gu/content.pug
	else
		//- Default to English for both root and /en/
		include includes/en/content.pug
//- block foot gets imported here from layout.pug


