section#foreword
	h2
		| પ્રસ્તાવના
	p
		| આ નાનકડું ગ્રંથ (જે ધ્યાન અને અનુભવનું પરિણામ છે) વિચારોની શક્તિ વિષય પર
		| ઘણી વાર લખાયેલ વ્યાપક ગ્રંથ તરીકે નહિ, પરંતુ એક સૂચક રૂપે રજૂ કરવામાં
		| આવી છે. સમજાવટ કરતાં વધુ, તેનું મુખ્ય ધ્યેય પુરુષો અને સ્ત્રીઓને
		| એ સત્યની શોધ અને અનુભૂતિ તરફ પ્રેરિત કરવાનું છે કે
	blockquote
		| "તેઓ પોતે જ પોતાના સર્જક છે."
	p
		| તેમના વિચારોની બદોલત, જેને તેમણે પસંદ કરીને પોષ્યા છે;
		| સ્વભાવરૂપ આંતરિક વસ્ત્ર અને પરિસ્થિતિરૂપ બાહ્ય વસ્ત્રનો કુશળ વણકર મન જ છે.
		| અને જેમ અત્યાર સુધી અજ્ઞાનતા અને ક્લેશમાં વણતર થયું છે,
		| તેમ હવે જ્ઞાનોદય અને સુખ-શાંતિમાં વણતર કરી શકાય છે.